.repo-avatar {
    background-color: var(--accent);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.repo-avatar__first-letter {
    font-family: "Roboto Bold";
    font-size: 4rem;
    line-height: 4.7rem;
    color: var(--background);
    text-transform: capitalize;
}
