@import "@styles/variables.scss";

.repo-tile {
    background-color: $background;
    border: 1px solid $colorBorder;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem 1.2rem 1.2rem 1.1rem;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.4rem;
        max-width: 24rem;
    }

    &__title {
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $colorDefault;
        max-width: 24rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__link {
        text-decoration: none;

        &:hover {
            color: $linkHover;
            cursor: pointer;
        }
    }

    &__bottom-group {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    &__default-text {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $colorHint;

        span {
            margin-right: 0.4rem;
        }
    }

}