@font-face {
  font-family: "Roboto";
  src: url('./resources/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('./resources/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

html {
  font-size: 10px;
}

body {
  --colorHint: #7E7E7E;
  --colorDefault: #000000;
  --colorBorder: #D9D9D9;
  --accent: #FF5555;
  --background: #FFFFFF;
  --starAccent: #FF9432;
  --linkHover: #208FBF;
  --inputDisabled: #f9f9f9;

  margin: 0;

  font-family: "Roboto";
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  overflow: hidden;
}

.image-container__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-margin {
  margin: 0;
}
