.repo-list {
    width: 39.7rem;
    height: 100vh;
    background-color: var(--background);
    display: grid;
    box-sizing: border-box;
    padding: 2rem;
    grid-template-columns: 29.5rem 5rem;
    grid-template-rows: 5rem max-content;
    gap: 2rem 1.2rem;
    grid-template-areas:
        "search-input search-button"
        "repo-list__container repo-list__container";
}

.repo-list__search-input {
    grid-area: search-input;
    width: 29.5rem;
    height: 5rem;
    background: var(--background);
    border: 1px solid var(--colorBorder);
    box-sizing: border-box;
    border-radius: 6px;
    color: var(--colorDefault);
    font-weight: normal;
    font-size: 1.4rem;
    padding: 1.2rem;
}

.repo-list__search-input:focus {
    border: 1px solid var(--accent);
    outline: none;
}

.repo-list__search-input:disabled {
    background-color: var(--inputDisabled);
    color: var(--colorHint);
}

.repo-list__search-input::placeholder {
    color: var(--colorHint);
    font-size: 1.4rem;
}

.repo-list__search-button {
    grid-area: search-button;
    width: 5rem;
    height: 5rem;
    border-radius: 6px;
    border: none;
    background-color: var(--accent);
}

.repo-list__search-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.repo-list__search-button:disabled {
    background-color: var(--colorBorder);
}

.repo-list__search-button-icon {
    width: 1.75rem;
    height: 1.75rem;
}

.repo-list__container {
    grid-area: repo-list__container;
    height: calc(100vh - 11rem);
    overflow: scroll;
    overflow-x: hidden;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 0 1rem 0 0;
}

.repo-list__container::-webkit-scrollbar {
    width: 0.5rem;
}

.repo-list__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.6rem var(--colorBorder);
    margin-right: 1rem;
    border-radius: 2px;
    width: 0.5rem;
}

.repo-list__container::-webkit-scrollbar-thumb {
    background-color: var(--colorHint);
    border-radius: 2px;
}
